* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.screen {
    display: flex;
    height: 100vh;
}

.leftside {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.leftside img {
    max-width:500px;
    height: auto;
}
.rightside {
    width: 400px;
    background-color: #ddd;
    padding: 50px;
}
.rightside label {
    display: block;
    margin-bottom: 20px;
}

.rightside input {
    width: 100%;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 8px;
    font-size: 14px;
    outline: 0;
}

.error {
    font-size: 13px;
    letter-spacing: 1px;
    background-color: red;
    color: white;
    padding: 4px;
    border-radius: 6px;
}